[tool.cibuildwheel]
# skip = "cp36-*,cp37" # scikit-build-core requires >=3.7
build-verbosity = 3

[tool.cibuildwheel.linux]
before-all = [
    "yum remove -y cmake",
    "yum install -y libX11-devel libXcursor-devel libXrandr-devel libXinerama-devel mesa-libGL-devel mesa-libGL libXi-devel freeglut-devel mesa-libEGL-devel"
]
# Tell auditwheel _not_ to bundle libEGL, as it is platform/driver specific won't work (segfaults). We need to use the system libEGL.
# Fortunately almost all linux systems should have this, but might cause linking errors at runtime if not
# libGL is already treated similarly, but libEGL is not on the default auditwheel whitelist
repair-wheel-command = "auditwheel repair --exclude libEGL.so.1 -w {dest_dir} {wheel}"

[tool.cibuildwheel.environment.linux]
CMAKE_ARGS = "DPOLYSCOPE_BACKEND_OPENGL3_EGL=ON"

# Nanobind requires C++17, which means we must target macOS 10.13 (partial support) or 10.14 (full support)
[tool.cibuildwheel.environment.macos.environment]
MACOSX_DEPLOYMENT_TARGET = "10.13"

# musllinux builds on an Alpinx Linux image, need different package names
[[tool.cibuildwheel.overrides]]
select = "*-musllinux*"
before-all = "apk add libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev freeglut-dev mesa-dev mesa-gl mesa-egl"